@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor01:#c1f0b8;
    --cor02:#60A154;
    --cor03:#9daa9b80;
    --cor04:#5D6E5A;
    --cor05:#33552C;
}
body{
    
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    color: #222222;
    font-size: 1.5em;
    background-color:#fafafa ;
    width: 100%;
    
    
}

header{ /*Estilização do Cabeçalho*/
    color: white;
    background-color: var(--cor05);
    padding: 10px 50px;
    margin: auto;
   
}


.font-cabecalho{
font-size: 1.5em;
display: inline; 
font-weight:lighter;
 padding: 0px 70px ; 

}
header>a{
    margin: 0px;
    color: white;
    text-decoration: none;
}
nav{
    display: inline; /*Transforma o menu em inline (Permite ocupar apenas uma parte da lnha)*/
}
nav>a{ /*Estilização do itens do MENU*/
    color: white;
    text-decoration: none; 
    font-weight: bold;
    font-size: 1em;
    padding: 0px 15px;
    
    
   

}
nav>a:hover{ /*Efeito ao passar o mouse: MENU*/
    text-decoration: underline;/*Sublinhado ao passar o mouse em cima*/

}
h1{
    font-size: 2rem;
}
main{
    
    margin: auto;
    text-align: justify;
    min-width: 300px;
    max-width: 1250px;
    padding: 10px 20px 20px 20px;
    background-color: white;
    box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.226);
       
}
section#carrossel{
    margin: 0px;
     background-image: linear-gradient(to bottom,  rgba(27, 27, 27, 0.685), rgba(61, 61, 61, 0.637)); 
    min-height: 450px;
   
}
section#carrossel img{
    display: block;
    margin: auto;
    padding: 0px;  
}


section#conteudo{
    background-color: white;
    padding: 20px;
    display: block;
    margin-left: auto;
  
    min-width: 300px;
    max-width: 900px;
    text-indent: 30px;
   
}
section#conteudo h1{
    text-align: center;
    
   
}
div.atalho{
    display: block;
   
    position: relative;
    /* margin-top: 5%; */
    
}
section#aside h3{
    text-align: center;
}
section#aside{
    
    width: 300px;
    position: absolute; 
    top: 600px;
   
    }

section#aside ul{
    
    padding: 0px 10px;
    
}
section#aside li{
    list-style: none;
    padding: 10px 0px;
    margin: 5px 0px;
    background-color:  var(--cor02) ;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    

}
section#aside a{
    text-decoration: none;
    color: white;
}
section#aside li:hover{
    background-color: var(--cor05) ;
    box-shadow: 1px 2px 7px black;
}

main p{
    line-height: 2em;
    padding: 20px 0px;

}

img.main{
    margin: auto;
    display: block;
}
footer{
    color: white;
    background-color: var(--cor05);
   
    
}

footer>p{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
   
}
section#fale-conosco{
    background-color:  #33552C;
    color: white;
    padding: 0px 20px;

}




